.sidebar{
    padding: 20px 10px;
    height: 100vh;
    overflow: auto;
    background-color: var(--background-color);
    color: var(--color);
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: start;
    font-size: 15px;
    scrollbar-width: none;
}
.sidebar svg{
    height: 25px;
    width:25px;
    color: var(--color);
}
#ham{
    margin-left: 10px;
    cursor: pointer;
}
.newchat{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    background-color: rgb(127,131,134);
    padding: 15px;
    border-radius: 30px;
    transition: all 0.2s;
    cursor: pointer;
}
.recent{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 15px;
    border-radius: 30px;
    cursor: pointer;
    transition: all 0.2s;
}
.newchat:hover{
    background-color:var(--sider-btns );
}
.recent:hover{
    background-color: var(--sider-btns );
}
@media(max-width:600px){
    .sidebar{
        display: none;
    }
}